<configuration>
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="reporter(akka://TestPlanSystem)" level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>